* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#capuz {
  width: 100vw;
  height: 100vh;
  display: none;
}

#capuz .content {
  width: 100%;
  height: 100%;
  background-color: black;
}
